{% extends 'base.html' %}
{% block title%} Home{% endblock%}
{% block content%}

<script language = 'javascript'>
function fillOptions(o)
{
    //alert(o)
    if (o.children.length >= 1) 
       { 
         while(o.firstChild)
             o.removeChild(o.firstChild)
       }
     
    c = document.getElementById('programme_name').value
    
    d = new Date();
    y = d.getFullYear(); //current year
   
    if (c == 'MSc. (CA)' || c == 'MBA-IT')
       {
           //for sem 1 and 2
           options = document.createElement('option')
           options.text = y-1 + '-' + ((y+1)%100);
           o.add(options,null)
           if (d.getMonth() > 6){ //for sem 3
               options = document.createElement('option')
               options.text = y + '-' + ((y+2)%100);
               o.add(options,null)
            }
            else{ //for sem 4
               options = document.createElement('option')
               options.text = y-2 + '-' + ((y)%100);
               o.add(options,null)
            }   

       }
    else
    {
        //for sem 5 and 6
        options = document.createElement('option')
        options.text = (y-2) + '-' + ((y+1)%100);
        o.add(options,null)
        //for sem 3 and 4
        options = document.createElement('option')
        options.text = (y-1) + '-' + ((y+2)%100);
        o.add(options,null)
        //for sem 1 and 2
        if (d.getMonth() > 6){
            options = document.createElement('option')
            options.text = y + '-' + ((y+3)%100);
            o.add(options,null)
        }
        else{
           options = document.createElement('option')
           options.text = y-3 + '-' + ((y)%100);
           o.add(options,null)
         }  

    }

}
function enable(c)
{
    
    var ans = confirm('Are you sure??')
    if (ans)
    {
        o = document.getElementById('submit')
        o.removeAttribute('disabled')
        c.value = 'Disable again'
    }
}

</script>

<h3> hi..{{u.username}}..!!</h3>

{% if formfilled %}
<input type = 'button' value = 'Feedback About this Software' onclick = 'javascript:location.href = "{{ROOT}}/give_feedback/{{f.id}}/show"'>
{% endif %}

<form id = 'MainForm' m ethod = 'post'>
{% csrf_token %}
<b>Select Programme:</b>
<select id = 'programme_name' name = 'programme'>
    {% for b in u.batch_set.all %}
        <option>{{b.programme}}</option>
    {% empty %}   
        <option>MSc. (CA)</option>
        <option>MBA-IT</option>
        <option>BBA-IT</option>
        <option>BCA</option>
    {%endfor%}
</select>

<b>Select Batch:</b>
    <select name = 'batch' required onfocus = 'fillOptions(this)'></select><br/><br/><br/>
<br/>
{% if view_summary %}
<input type='button' id='submitbtn' value = "Get Students' Feedback Forms" onclick = 'changesubmit(this,"{{ROOT}}/manage_feedback/studentsummary")'> <br/>
{% endif %}
{% if view_notfilled %}
<input type='button' id='notfilled' value = "Get Students who have not filled the form" onclick = 'changesubmit(this,"{{ROOT}}/manage_feedback/notfilled/")'> 
{% endif %}<BR>
{% if view_reports %}
<input type='button' id='reports' value = "Report" onclick = 'changesubmit(this,"{{ROOT}}/manage_feedback/summary/")'> 
{% endif %}
<br/>
<hR>
<BR>
{% if create_forms %}
{% if createforms %}
To Create Forms<BR><BR>
<input type = 'radio' name = 'createforms' value = 'all' checked> All 
<input type = 'radio' name = 'createforms' value = 'teachers'> Only Teachers
<input type = 'radio' name = 'createforms' value = 'subjects'> Only Subjects
<br>
Deadline for submissions (YYYY-MM-DD) <input type = 'text' name = 'deadline'size = 10 maxlength =10 value = '2012-10-15'><bR>
<input type = 'button'  id = 'create' value = 'Create Mass Feedback Forms' onclick = 'changesubmit(this,"{{ROOT}}/manage_feedback/createmassforms/")'>
{% endif %}
{% endif %}
</form>
</fieldset> 
<hr>
<i>Please note this<b> feature is Beta </b> and currently under development. We are offering only <b> a preview of the real thing :)</b></li>
</form>
<input type = 'button' value = 'logout' onclick = 'javascript:location.href = "{{ROOT}}/ldap_login/logout"'>
{% endblock %}
