{% if user.fullname.strip != '' %}
    Dear <b>{{user.fullname}},</b>
{% else %}
    Dear <b>{{user.username}},</b>
{% endif %}
 
<p> You have following official SICSR Feedback Forms to be filled online : </p>
<ul>
    {% for f in unfilled_forms %}
    <li><a href='http://projects.sdrclabs.in/change_agent/give_feedback/{{f.id}}/show'>{{f.title}}</a></li>
    {% endfor %}
</ul>

Please fill them before their deadline :)

For any queries, please contact us at : sdrclabs@sicsr.ac.in by putting in [ChangeAgent] in the subject line.

Thanks.

Regards,
Team ChangeAgent
