{% extends "base.html" %}
{% block title %}{{user.fullname}} : Status of Forms {% endblock %}
{% block content %}

<div id="form" style='text-align:left;'>
    <table align='center' border='1'>
        <thead align='center'>
            <tr>
                <td><b>Form Title<b/></td>
                <td><b>Deadline</b></td>
                <td><b>Status</b></td>
            </tr>
        </thead>
        <tbody align='center'>
        {% for form,status in status_of_all_forms.iteritems %}
           <tr class='row_{% cycle 'odd' 'even' %}'>
                {% if status.submitted %}
                <td>{{ form }}</td>
                <td> {{ status.deadline_for_filling|date:"D d M Y"}} </td>
                    <td>{{ status.submitted|yesno:'Submitted,Not Submitted'}} <br/> on <br/> {{ status.submitted_on|date:"D d M Y"}} </td>
                {% else %}
	        <td class='error_text'>{{ form }}</td>
        	<td class='error_text'> {{ status.deadline_for_filling|date:"D d M Y"}} </td>
                <td class='error_text'>{{ status.submitted|yesno:'Submitted,Not Submitted'}}</td>
                {% endif %}
           </tr>
	{% empty %}
           <tr>
                <td colspan='3'>No forms available for this user to fill.</td>
           </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<br/><b>Note:</b> Only those forms which have deadline in current month will be shown here because this feature is still under development.<br/>
<input type='button' onclick="javascript:location.href='{% url manage_feedback.views.adminindex %}'" value="Go back">
{% endblock %}
