
<html>
	<head>
	<style type="text/css">

	#change {
		text-align: center;
		text-decoration: line-through;
		word-spacing: -2px;
		text-shadow: 1px 1px black;
		font-family: cracked;//Blackmoor LET;
		font-size: 50px;
        //position:absolute;
	}

	hr {
		text-shadow: 1px 2px black;
		color: #ff7f00;
		line-height: 15px;
	}

	</style>

		<title>{% block title %} :: Change Agent {% endblock %}</title>
		
		<style>
		
		#menubar {
				text-align:right;
			 }
		</style>
	</head>
	
	<body>
		<div id='change'>
        <font color="yellow">ch</font>
        <font color="green">a</font>
        <font color="yellow">n</font>
        <font color="green">ge</font>
        <font color="blue">nt</font>
        </font>
         </div>
      <h5 align='center'>be the change u wanna c</h5>

        <div id='menubar'>
		
        <br/> <hr/>
		</div>

		<div id='content'>
		{% block content %}
		
		{% endblock %}
		</div>

		<br/>

		<div id='footer' style='text-align: right'> 
		<hr>
			Developed using <a href='http://www.djangoproject.com'><img src='/../media/django-logo-positive.png' width='70' height='60' alt='Django' border=0></a> which is powered by <a href='http://python.org'><img src='/../media/python_logo_official.png' border=0 height='40' width='90' alt='Python'></a><br/>
			This is a <img src='/../media/SDRC_logo.gif' alt='SDRCLabs' border=0> creation ;) <br/>
            Created by Apoorva and Samar.. <br/>
		</div>
	</body>

</html>

