
<html>
	<head>
	<style type="text/css">

	#change {
		text-align: center;
		text-decoration: line-through;
		word-spacing: -2px;
		text-shadow: 1px 1px black;
		font-family: cracked;//Blackmoor LET;
		font-size: 50px;
        //position:absolute;
	}

	hr {
		text-shadow: 1px 2px black;
		color: #ff7f00;
		line-height: 15px;
	}

	</style>

		<title>{% block title %} :: Change Agent {% endblock %}</title>
		
		<style>
		
		#menubar {
				text-align:right;
			 }
		</style>
	</head>
	
	<body>
		<div id='change'>
        <font color="yellow">ch</font>
        <font color="green">a</font>
        <font color="yellow">n</font>
        <font color="green">ge</font>
        <font color="blue">nt</font>
        </font>
         </div>
      <h5 align='center'>be the change u wanna c</h5>

        <div id='menubar'>
			<input type='button' onClick="javascript:location.href='/ldap_login/logout'" value='Logout!' alt='Enough of form filling!'></span> 
		<br/> <hr/>
		</div>

		<div id='content'>
		{% block content %}
		
		{% endblock %}
		</div>

		<br/>

		<div id='footer'> 
		<hr>
			Developed using<img src='http://localhost/media/django.png' height='50' width='90> <a href='http://www.djangoproject.com'>Django</a> which is powered by <a href='http://python.org'>Python!!</a> <br/>
			This is a SDRCLabs creation ;) <br/>
		</div>
	</body>

</html>

