<h3 align='center'> {{ form.title }} </h3>
    <form action='submit_feedback/'>
        {% for q in form.questions.all %}
            {% if q.type == 'multiple-choice-single-answer' %}
                {% for opt in q.feedbackquestionoption_set.values_list %}
                    <label for='opt_{{ opt.id }}'>
                        {{ opt.text }}
                    </label>
                    <input type='radio' name='opt_{{ opt.id }}'/>
                    {% endfor %}
            {% endif %}
            {% if q.type == 'multiple-choice-multiple-answer' %}
                {% for opt in q.feedbackquestionoption_set.values_list %}
                    <label for='opt_{{ opt.id }}'>
                        {{ opt.text }}
                    </label>
                    <input type='checkbox' name='opt_{{ opt.id }}'/>
                {% endfor %}
            {% endif %}
            {% if q.type == 'text' %}
                <textarea name='q_{{ q.id }}' rows='8' cols='120'></textarea>
            {% endif %}
        {% endfor %}
    </form>       
