
{% extends "base.html" %}

{% block content %}
<span><input type='button' onClick="javascript:location.href='/ldap_login/logout'" value='Logout!' alt='Enough of form filling!'></span> 

<h2> Hi {{username}}! </h2>

<fieldset>
<legend> My Feeback forms to be filled </legend>

<table cellpadding='16'>
   {% if not unfilled_list %}
      You have no new forms...!!
   {% else %}   
    <th>Form Name</th><th>Deadline for filling</th><th>Created on</th>
    {% for form in unfilled_list %}
      {% if today < form.deadline_for_filling %}
        <tr bgcolor='red'><td> <a href='./{{form.id}}/show'>{{ form.title }}</a></td><td>{{form.deadline_for_filling}}</td><td>{{form.created_on}}</tr>
      {% else %}
        <tr><td>{{ form.title }}</td> <td><i> Deadline already exceeded!</i></td><td>{{form.created_on}}</td></tr>
      {% endif %}
    {% endfor %}
   {% endif %} 
</table>
</fieldset>
<fieldset>
<legend> Feedback you gave </legend>

<table cellpadding='16'>
   {% if not filled_list %}
     <i>You have no filled forms</i>
   {% else %}  
    <th>Form Name</th><th>Deadline for filling</th><th>Created on</th>
    {% for form in filled_list %}
      {% if today < form.feedbackForm.deadline_for_filling  %}
         <tr> <td><a href='./{{form.id}}/preview.html'>{{form.feedbackForm.title}}</a></td>
      {% else %}
        <tr><td><a href = './{{form.id}}/preview.html'>{{ form.feedbackForm.title }}</a></td>
      {% endif %} 
	<td>{{form.feedbackForm.deadline_for_filling}}<td>{{form.feedbackForm.created_on}}</td></tr>

       {% endfor %}
    {% endif %}   
</table>
</fieldset>
{% endblock %}
